<style>
  :host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    font-family: "Inter", sans-serif;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    color: var(--gray-900);
  }

  p {
    color: var(--gray-700);
  }
</style>

<app-header></app-header>
<main>
  <div class="content">
    <app-article-preview
      [title]="'Understanding Angular Components'"
      [imageUrl]="'https://picsum.photos/600/300'"
      [author]="'João Pedro Gonçalves'"
      [description]="'Learn how to build and organize Angular components effectively with this comprehensive guide.'">
    </app-article-preview>

    <app-article-preview
      [title]="'Understanding Angular Components'"
      [imageUrl]="'https://picsum.photos/600/299'"
      [author]="'João Pedro Gonçalves'"
      [description]="'Learn how to build and organize Angular components effectively with this comprehensive guide.'">
    </app-article-preview>

  </div>
</main>
<router-outlet />
